---
title: Article Template
listed: false
published: true
content_type: articles
---
{% extends parent %}

{% block main %}

  <div id="hero-splash">
    <div class="screen">
      <p class="hero-text">
      	{{ article.title }}<br>
        <span class="subtle">{{ article.author }}</span>
      </p>
    </div>
  </div>
  <div class="striped-divider"></div>
  <div class="wrapper">
	<br>
	<p>{{ article.body }}</p>
	</div>

{% endblock %}
