html, body, h1, h2, h3, h4, h5, h6, p {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

body { 
	text-align: center; 
}

h1 {
	font-size: 24px;
}

a {
	text-decoration: none;
}

/*
===================================================================================================
B A S E . C S S
===================================================================================================
*/

html { height: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, form, fieldset, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { background: transparent; font-size: 100%; vertical-align: baseline; border: 0; outline: 0; margin: 0; padding: 0; }
article, aside, dialog, figure, figcaption, footer, header, hgroup, nav, section, cite { display: block; }

/* Typgraphy -------------------------------------- */

ul { list-style: none outside; }
ul.ul-disc { list-style: disc outside; margin-left: 2em; }
ul.ul-square { list-style: square outside; margin-left: 2em; }
ol { list-style: decimal outside; margin-left: 2em; }
li ul, li ol { margin-bottom: 0; }

nav ul { margin: 0; }

strong, b { font-weight: bold; }
small { font-size: .875em; }
strike, del { text-decoration: line-through; }
pre, code, kbd, samp { font-family: Consolas, "Lucida Console", Monaco, monospace; font-size: .875em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
sub { font-size: .75em; line-height: 1; vertical-align: sub; }
sup { font-size: .875em; line-height: 1; vertical-align: super; }
mark { background: #ffc; padding: 1px 3px; }
hr { display: block; height: 1px; border: 0 none; border-top: 1px solid #384749; padding: 0; }


/* Links -------------------------------------- */

a, :focus { outline: 0; }
a img { border: 0 none; }


/* Forms -------------------------------------- */

input, textarea { font-weight: inherit; font-size: inherit; font-family: inherit; color: inherit; vertical-align: baseline; margin: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
select { cursor: pointer; vertical-align: baseline; margin: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=url],
input[type=tel],
textarea { background: #fff; display: inline-block; width: 100%; border: 1px solid #fff; border-radius: 0; -webkit-appearance: none; margin: 0; padding: 4px; }

input[type=file] { display: inline-block; width: 100%; border: 1px solid transparent; border-radius: 0; -webkit-appearance: none; margin: 0; padding: 4px; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration { -webkit-appearance: none; }
input[type=search] { -webkit-appearance: textfield; }

input[type="checkbox"], input[type="radio"] { padding: 0; }

textarea { overflow: auto; resize: none; vertical-align: top; resize: vertical; }

button, .btn { background: transparent; font-weight: bold; font-family: inherit; font-size: inherit; color: inherit; text-align: center; display: inline-block; *display: inline; *zoom: 1; vertical-align: baseline; width: auto; overflow: visible; cursor: pointer; border: 0 none; margin: 0; }

::-webkit-input-placeholder { color: #999; }
:-moz-placeholder { color: #999; }
:placeholder { color: #999; }

button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { border: 0; margin: 0; padding: 0; /* Firefox Fix */ }


/* Tables -------------------------------------- */

table { width: 100%; border-spacing: 0; border-collapse: collapse; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
th, td { font-family: inherit; color: inherit; text-align: left; vertical-align: top; }


/* Media -------------------------------------- */

img, object, embed { display: block; vertical-align: middle; max-width: 100%; width: auto; height: auto; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; }


/* Various Helper Classes -------------------------------------- */

.left { float: left !important; }
.right { float: right !important; }
.normal { font-weight: normal !important; }
.anim { -webkit-backface-visibility: hidden; -webkit-perspective: 1000; -webkit-transform: translate3d(0,0,0); /* speeds up css-animations in safari */ }
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear:both; }
.cf { zoom: 1; }
.clear { clear: both; }

a.arrow { font-weight: bold; white-space: nowrap; }
a.arrow:after { content: ""; display: inline-block; width: 0; height: 0; border-style: solid; border-width: .325em 0 .325em .325em; border-color: transparent transparent transparent #00f; margin-left: .3em; }
a.arrow:hover:after { border-left-color: #c00; }


/* IE 7 Special Treatment -------------------------------------- */

.ie7 img { -ms-interpolation-mode: bicubic; }
.ie7 legend { margin-left: -7px; }
.ie7 input, .ie7 select, .ie7 textarea, .ie7 button, .ie7 .btn { vertical-align: middle; }
.ie7 input[type=text], .ie7 input[type=password], .ie7 input[type=search], .ie7 input[type=email], .ie7 input[type=url], .ie7 input[type=tel], .ie7 textarea { display: inline; zoom: 1; }
.ie7 audio, .ie7 canvas, .ie7 video { display: inline; *zoom: 1; }
.ie7 .cf { *zoom: 1; }

.wrapper {
	position: relative;
	max-width: 960px;
	margin: 0 auto;
}

#main-nav { 
	width: 100%;
	height: 80px;
	background: #31529c; /* Old browsers */
	background: -moz-linear-gradient(top, #31529c 0%, #306396 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#31529c), color-stop(100%,#306396)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #31529c 0%,#306396 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #31529c 0%,#306396 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #31529c 0%,#306396 100%); /* IE10+ */
	background: linear-gradient(to bottom, #31529c 0%,#306396 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31529c', endColorstr='#306396',GradientType=0 ); /* IE6-9 */

	overflow: hidden;
}

#main-nav ul {
	height: 80px;
	margin: 0;
	list-style: none;
}

#main-nav ul:after {
	content: '';
	display: table;
	clear: both;
}

#main-nav ul li {
	float: left;
	line-height: 80px;
	margin: 0 25px;
}

#main-nav a {
	font-weight: lighter;
	display: block;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 14px;
}

#main-nav h1.logo a {
	float: left;
	color: #FFFFFF;
	line-height: 80px;
	font-size: 20px;
	text-transform: uppercase;
	padding-right: 25px;
}

.striped-divider {
	width: 100%;
	height: 8px;
	background: url(../images/debut_light.png) repeat #eee;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

#splash { 
	margin: 0 auto;
	text-align: left; 
}

/* Hero Banner and Text */

#hero-splash {
	display: table;
	width: 100%;
	height: 300px;
	background: url(../images/buildings.jpeg) no-repeat center top #ddd;
	background-size: cover;
}

.screen {
	display: table;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

.color-screen {
	display: table;
	width: 100%;
	height: 100%;
}

.color-screen#screen-1 {
	background: rgba(49,82,156,0.9);
}

.color-screen#screen-2 {
	background: rgba(49,156,123,0.8);
}

.color-screen#screen-3 {
	background: rgba(0,0,0,0.8);
}

.hero-text {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-weight: lighter;
	font-size: 34px;
	color: #FFFFFF;
	padding: 0 10%;
}

.hero-text a {
	color: #FFFFFF;
	text-decoration: underline;
	font-size: 14px;
	text-transform: uppercase;
}

.hero-text a:hover {
	color: #CCCCCC;
}

.subtle {
	font-size: 60%;
}

/* Featured Articles */

#featured-articles {
	width: 100%;
	overflow: hidden;
}

#featured-articles .article {
	display: table;
	text-align: center;
	float: left;
	width: 30%;
	height: 350px;
	margin: 20px 1%;
	background: url(../images/el.jpeg) no-repeat center;
	background-size: cover;
}

#featured-articles .article h2 {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 30px;
}

#featured-articles .article h2 a {
	display: block;
	color: #FFFFFF;
	font-weight: lighter;
}

#featured-articles .article:first-child {
	margin-left: 3%;
}

#featured-articles .article:last-child {
	margin-right: 3%;
}

/*
===================================================================================================
S T Y L E S . C S S
===================================================================================================
*/

html { background: #fff; }
body { font: 400 93.75%/1.35 "Helvetica Neue", Helvetica, Georgia, Times, "Times New Roman", serif; color: #4f4f4f; padding-bottom: 4em; }
.ie7 body, .ie8 body, body.ffwin { font-family: Georgia, Times, "Times New Roman", serif !important; }
.inner { position: relative; max-width: 76em; margin: 0 auto; padding: 1em; }

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, pre, address, table, form, hr, figure, audio, video, cite { margin-bottom: 1em; }


/* TYPOGRAPHY ---------------------------------------------------------------------------------- */

h1 { font-weight: normal; font-size: 1.5em; line-height: 1.25; color: #b61a37; margin-bottom: 0; }
h1 + p, #intro p { font-size: 1.5em; line-height: 1.25; color: #757575; }
h2 { font-size: 1em; margin-bottom: .5em; }
h4 { font-weight: normal; margin-bottom: .5em; }
p { line-height: 1.25; }

a { text-decoration: none; color: #4f4f4f; }
a:visited {  }
a:hover { color: #b61a37; }
a:active {  }

a.redlink { text-decoration: none; color: #b61a37; border: 0 none !important; }
a.redlink:hover { color: #4f4f4f; }
a.biggerlink { font-size:1.2em; display:inline-block; margin-top:1em; }

a.black { color: #4f4f4f !important; }
a.black:hover { color: #b61a37 !important; }

.arrowlink:before { content: "> "; }

#content > p a, .innercontent > p a, .segmentslist li a { border-bottom: 1px dotted #4f4f4f; }
#content > p a:hover, .innercontent > p a:hover, .segmentslist li a:hover { border-bottom: 1px dotted #b61a37; }

a.jumpanchor:hover { color: #484848; }


/* FORMS --------------------------------------------------------------------------------------- */

label, .label { font-size: 87.5%; display: block; cursor: pointer; margin-bottom: .125em; }

input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=url],
input[type=tel],
input[type=file],
textarea { background: #eaeaea; resize: none; }

button, .btn { font-size: 93.3334%; font-weight: normal; background: #4d4d4d; color: #ccc !important; padding: 0.425em 1.1em; }
button:hover, .btn:hover { background: #b61a37; color: #fff !important; }
button:active, .btn:active { background: #b61a37; color: #fff !important; }

.btn + .btn { margin-left: 3px; }

.error { color: #b61a37; }
span.error { font-size: 87.5%; }


/* MEDIA --------------------------------------------------------------------------------------- */

figure { overflow: hidden; }
figcaption { padding-top: .5em; }
figcaption p, .popupfullwidhtcaption { font-size: 87.5%; margin: 0; }

img, object, embed {  }

img.left { margin: 0 1em 1em 0; }
img.right { margin: 0 0 1em 1em; }

.icon { background-image: url(../images/icons.png); background-repeat: no-repeat; }
.icon.print { background-position: 0 0; }
.icon.download { background-position: -22px 0; }
.icon.mail, .icon.email { background-position: -44px 0; }
.icon.addthis, .icon.sharing { background-position: -66px 0; }
.icon.twitter { background-position: -109px 0; }
.icon.linkedin { background-position: -129px 0; }
.icon.facebook { background-position: -149px 0; }
.icon.googleplus { background-position: -169px 0; }
.icon.xing { background-position: -189px 0; }

.pdf-cover { box-shadow: 0 3px 5px rgba(0,0,0,0.25); margin-bottom: 1em; }
.no-boxshadow .pdf-cover { border: 1px solid #484848; }

.video-wrapper { position: relative; padding-bottom: 1em; z-index: 0; }
.video-wrapper img { max-width: none; width: 100%; height: auto; position: relative; margin-bottom: 0; z-index: -1; }
.video-wrapper > a:after { content: ""; position: absolute; background: url(../images/btn-playvideo.png); bottom: 30px; height: 35px; right: 10px; width: 50px; z-index: 1 }

.fluid-width-video-wrapper { margin-bottom: 0; }
.ie8 .fluid-width-video-wrapper + * { padding-top: 1em; }


/* MODUL: HEADER (Masthead) -------------------------------------------------------------------- */

#masthead { background: #b61a37; font-size: 87.5%; color: #fff; }
#masthead .inner { padding-bottom: 0; *zoom: 1; }
#masthead .inner:before, #masthead .inner:after { content: ""; display: table; clear: both; }


/* Metanav */

#metanav { display: none; }


/* Logo */

a#logo { float: left; width: 51%; margin-bottom: .75em; }
a#logo img { width: 12em; margin-left: 2px; }


/* Search */

#searchform { float: right; width: 40%; margin: 0; }
#searchform fieldset { margin-right: 2px; }
#searchform input { background: transparent; border-color: #d1697c; box-shadow: none; font-size: 86.6667%; padding: 6px; }
#searchform input:focus { border-color: #edc5cc; box-shadow: 0 0 10px #d1697c; }

#searchform ::-webkit-input-placeholder { color: #edc5cc; text-align: right; }
#searchform :-moz-placeholder { color: #edc5cc; text-align: right; }
#searchform :placeholder { color: #edc5cc; text-align: right; }


/* Navigation */

#mainnav { background: #fff; clear: both; margin: 0 -1em; padding: 0 1.15em; }
#mainnav.close { display: none; }
#mainnav ul { overflow: hidden; border-top: 1px solid #fff; border-bottom: 4px solid #484848; margin: 0; }
#mainnav a { background: url(../images/nav-dark.png) no-repeat 100% .625em; color: #4f4f4f; display: block; border-top: 1px solid #bebebe; padding: .5em 0; }
#mainnav ul li:first-child a { border: 0 none; }

#mainnav .subnav { display: none; }

.subnav a { color: #4f4f4f !important; }
.subnav a:hover { color: #b61a37 !important; }
.subnav h3 { font-size: 1em; color: #b61a37 !important; clear: both; border-top: 1px solid #a8195d; margin-bottom: .5em; padding-top: 1em; }

#content .subnav div { width: 100%; /* margin-bottom: 2em; */ }
#content .subnav ul { list-style: none outside; margin-left: 0; }
#content .subnav li a:before { content: "> "; }
#content .subnav li strong a { float: none; clear: both; display: inline-block; width: 100%; margin: 1em 0 0; }
#content .subnav ul li:first-child strong a { margin-top: 0 !important; }

#mainnav .current>a { font-weight: bold; }


/* MODUL: MAIN --------------------------------------------------------------------------------- */

#main { text-align: left; }
#main .inner { padding: .75em 1em 2em 0; }

/* Content */

#content { margin-left: 1em; }

#content hgroup h2 { font-size: 120%; line-height: 1.35; font-weight: bold; color: #4f4f4f; margin: 0; }
#content hgroup h3 { font-size: 120%; line-height: 1.35; font-weight: normal; }

#content header { background: red; height: 4em; }

#content ul { list-style: disc outside; margin-left: 2em; }
#content nav ul { list-style: none outside; margin-left: 0; }

#content .selector { display: none; }

.innercontent { /* font-size: 93.3334%; */ position: relative; }
.innercontent>div:first-child { float:none !important; }
.innercontent>div:first-child h3 { font-weight: normal; font-size: 1em; color: #b61a37; display: block; margin: 0; }

.innercontent nav ul { border-top: 1px solid #484848; margin-bottom: 1em; padding-top: 1.5em; }
.innercontent nav li a { float: left; width: 60%; padding: .5em 0 .5em; margin-bottom: .5em; margin-right: 5%; }
.innercontent nav li a:before { content: ""; background-image: url(../images/icons.png); background-repeat: no-repeat; float: left; width: 46px; height: 46px; margin-right: .5em; position: relative; top: -3px; }

address { font-style: normal; }
address span { display: inline-block; width: 4em; }
.innercontent .addressblock.new address span { width: 2em; }
address + nav ul li + li + li { clear: both; }

.innercontent address + nav ul { padding-top: .75em; }

.innercontent .addressblock { padding-top: 1.5em; }
.innercontent .addressblock.new { padding-top:0em; padding-bottom: 1em; }
.innercontent .addressblock nav ul { padding-top:.75em; padding-bottom:1em; }
.innercontent .addressblock.new nav ul { border-top:0; padding-top: 0; }
.innercontent .addressblock.new nav ul li { display:block; width: 100%; }
.innercontent .addressblock.new nav ul li a { margin-bottom:0; display:block; width:100%;}

/* MODUL: FOOTER (Contentinfo) ----------------------------------------------------------------- */

footer[role=contentinfo] { font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; color: #717171; }
footer[role=contentinfo] .inner { padding: 0 1em; }
footer[role=contentinfo] a { color: #717171; }
footer[role=contentinfo] a:hover { color: #b61a37; }

#copyright, #footerlinks, #share { font-size: 80%; border-top: 4px solid transparent; }
#copyright { border-color: #484848; padding-top: 1em; }
#share { display: none; }
#share li { display: inline-block; vertical-align:middle; }
#share a { float: left; white-space: nowrap; overflow: hidden; margin-right: .75em; vertical-align:middle; line-height:1em !important;}
#share a span { display:inline-block; width: 22px; height: 22px; margin-right:.5em; vertical-align:middle; }


.new-share { border-bottom: 1px solid #484848; margin-bottom: 2em; padding: 0 0 .5em; }
.new-share a { display:inline-block; margin-right:1em; }
.new-share .icon { display:inline-block; width:22px; height:22px; margin:0 5px 5px 0; vertical-align: top; }
#sharemailform { max-width:16.6666em; display:none; position:absolute !important; top:.13333em; left:6em; background:#FFF; z-index:1000; padding:1.66666em 2.66666em 2em 2.66666em; box-shadow:0 .33333em 2em rgba(0, 0, 0, .4); overflow:visible !important;  z-index:1000; }
#sharemailform { left:auto; bottom:auto; right:50%; margin:0 -165px 0 0; top:12em !important; }

#sharemailform:before { display:none; position:relative; top:1em; left:-3.66666em; margin: 0 0 -1em 0; width:0; height:0; border-top:transparent 1em solid; border-right:#FFF 1em solid; border-bottom:transparent 1em solid; content:""; z-index:1001; }
#sharemailform h2 { font-weight:normal; margin-bottom:1.25em; }
#sharemailform input[type=text], #sharemailform textarea { width:16.6666em; }
.ie8 #sharemailform { border:#484848 1px solid; }
.ie8 #sharemailform:before { display:none; }
#sharemailform.open { display:block; }

.new-share-box { display:none; position:absolute !important; top:2px; left:6em; background:#FFF; z-index:1000; box-shadow:0 .33333em 2em rgba(0, 0, 0, .4); overflow:visible !important; width:auto; height:auto; padding:.66666em 1.466666em; z-index:1000; }
.new-share-box a { display:block; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; }
.new-share-box:after { position:relative; bottom:-.66666em; right:-4em; display:block; margin: 0 0 -1em 0; width:0; height:0; border-left:transparent 1em solid; border-top:#FFF 1em solid; border-right:transparent 1em solid; content:""; z-index:1001; }
.new-share-box a span { display:inline-block; width:22px; height:22px; }
.ie8 .new-share-box { border:#484848 1px solid;}
.ie8 .new-share-box:after { display:none; }

.hideonmobile { display: none !important; }

/*
===================================================================================================
M E D I A   Q U E R I E S   >   Min-width:  768px
===================================================================================================
*/

@media only screen and (max-width: 768px) {
	#featured-articles .article {
	width: 90%;
	margin: 20px 5%;
	background: url(../images/el.jpeg) no-repeat center;
	background-size: cover;
}
}


@media only screen and (min-width: 768px) {

.inner { padding-right: 0 !important; padding-left: 0 !important; }


/* MODUL: MAIN --------------------------------------------------------------------------------- */

#main .inner { position: relative; padding: .5em 1em 4em 0; }
#main.home .inner { padding-bottom: 8em; }

h1, h1 + p, #intro p { font-size: 1.4em; line-height: 1.2; }
h1 + p { margin-bottom: 2.25em; }
h1 + span.block { display: block; margin: 2.25em 0; }
h2 { font-size: 1.2em; }

.addressblock.new { position:absolute; top:0; left: 105%; width:60%; padding-top:0;}

/* Content */

/* #content { margin: .5em 29% 0 30.5%; } */
/* FIX BY CEM */
#content { margin: .5em 29% 0 30.5%; width: 40.5%; }
#content-fullwidth {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #4f4f4f;
    position: relative;
    margin: 0.5em 1.5em 1.25em;
}

span.smallUppercase {
    text-transform: uppercase;
    font-size: 0.8em;
}

#content .subnav{ display: block !important; font-size: 100%; line-height: 1.35; position: static; padding: 0; box-shadow: none; }
#content .subnav div{ float: none; width: 100%; padding: 0; }

#content .selector{ display: block; }

.contact-selector h1 + p.headline{ font-size: 1.2em; line-height: 2em;}

.bigfigure article#content figure:first-child { width:167%; }

/* Content FULL WIDTH*/

.innercontent { position: relative; }

.innercontent>div:first-child { position: absolute; left: -70%; width: 66%; }
.innercontent>div.right:first-child { right: -70%; left: auto; }
.innercontent>div:first-child figure img { width: 100% !important; max-width: none !important; height: auto !important; }
.innercontent>div:first-child p { display: block; margin: 0; }

/* LSI Content-Insel */

#content .lsi { font-size: 93.3334%; }

#content img#ipad { margin: 0 -2em 2em; }
#content img#ipad + h1 + p { display: block; max-width: 19em; }


/* MODUL: FOOTER (Contentinfo) ----------------------------------------------------------------- */

footer[role=contentinfo] .inner { overflow: hidden; }

#copyright, #footerlinks, #share { float: left; }
#copyright { width: 29.5%; border-color: transparent; margin: 0.875em 1% 0 0; padding-left: 1.5em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#footerlinks { overflow: hidden; width: 40.5%; border-color: #484848; margin: .875em 0 0; padding-top: 1em; }
#footerlinks ul { float: left; margin-right: 5%; }
#footerlinks p { float: left; width: 50%;  }
#share { display: block; border: 0 none; margin: 0 2%; }


.hideonmobile { display: block !important; }

}


/*
===================================================================================================
M E D I A   Q U E R I E S   >   Min-width:  992px
===================================================================================================
*/

@media only screen and (max-width: 1023px){
    div#left-fullwidth div.marginal.left.top { top: 28em !important;}
}

@media only screen and (min-width: 992px) {

    .marginal.right.lsi.top.cwulow { top:47em; padding: 1em 0 0;}

/* TYPOGRAPHY ---------------------------------------------------------------------------------- */

h1, h1 + p, #intro p { font-size: 1.7em; line-height: 1.15; }


/* MODUL: HEADER (Masthead) -------------------------------------------------------------------- */

/* Logo */

a#logo img,
.ie8 a#logo { width: 14.5em; }


/* Navigation */

#mainnav li > div { width: 114%; }


/* MODUL: MAIN --------------------------------------------------------------------------------- */

.innercontent>div:first-child { position: absolute; left: -62%; width: 57.5%; }
.innercontent>div.right:first-child { right: -37%; left: auto; }
.innercontent nav li a { width: 45%; }

}

/*
===================================================================================================
M E D I A   Q U E R I E S   >   Retina Styles
===================================================================================================
*/


@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {

}
