---
title: Articles
---
{% extends parent %}
{% block 'main' %}
	<div class="wrapper">
      <div id="featured-articles">
        {% for article in contents.articles %}
          <div class="article" id="article-{{ forloop.index }}">
            <div class="color-screen" id="screen-{{ forloop.index }}">
              <h2><a href="/articles/{{ article._slug }}">{{ article.title }}</a></h2>
            </div>
          </div>
        {% endfor %}
      </div>
	</div>
{% endblock %}
