---
title: Contacts
---
{% extends parent %}
{% block 'main' %}
	<div id="main">
		<div class="inner cf">
			<section id="content">
				<br>
				<h1>Contact Us</h1>
				<p></p>
				<div class="innercontent">
					<div>
		              {% capture contacts_photo %}{% editable_file "contacts_photo" %}/images/el.jpeg{% endeditable_file %}{% endcapture %}
		              <figure><img src="{{ contacts_photo | resize: '300x' }}"></figure>
					</div>
					<h3 class="topline">Electrum Partners, LLC</h3>
					<p>{% editable_text "hq_address", format: "raw" %}
					7222 West Cermak Road, Suite 403<br>
					North Riverside, IL 60546<br>
					Fax: 708-447-1517
					{% endeditable_text %}</p>
					<div class="addressblock new">
						<h3 class="topline">Contact</h3>
						{% for principal in contents.principals %}
							<address>
								<p>{{ principal.name }}<br>
								{{ principal.phone }}<br>
								{{ principal.email }}</p>
							</address>
						{% endfor %}
					</div>
				</div>
				<br><br>
			</section>
		</div>
	</div>
{% endblock %}
