---
title: Contacts
---
{% extends parent %}
{% block 'main' %}
 {% for contact in contents.contacts %}
 <div class="contact">
 <p>{{ contact.name }}</p>
 <p>{{ contact.title }}</p>
 <p>{{ contact.phone }}</p>
 <p>{{ contact.email }}</p>
 </div>
 {% endfor %}
{% endblock %}
